.listing {
    overflow: hidden; 
    max-width: 24rem; 
    border-radius: 0.25rem; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    .listing-img{
        width: 100%;
    }
    .listing-container{
        padding: 1rem 1.5rem;
    }
    .listing-heading {
        margin-bottom: 0.5rem; 
        font-size: 1.25rem;
        line-height: 1.75rem; 
        font-weight: 700; 
    }
    .listing-photo {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 30px 30px 0 0;
    }
    .listing-location {
        padding: 10px 20px 20px 20px;
        color: #374151; 
        font-size: 1rem;
        line-height: 1.5rem; 
    }
    a{
        padding-left: 20px;
        text-decoration: none;
        color: var(--primary-color);
        &::after{
            content: "\203A";
            margin-left: 5px;
        }
    }
}